<h1 mat-dialog-title>
  <i class="fad fa-trash text-danger"></i>
  &nbsp;&nbsp; Confirmar Exclusão
</h1>
<div mat-dialog-content class="border-top border-bottom p-3 text-center">
  <p>Você tem certeza que deseja excluir esta regra?</p>
</div>
<div mat-dialog-actions class="text-center">
  <div class="container-fluid px-0 py-3 justify-content-between">
    <button class="btn btn-light text-danger mx-2" [mat-dialog-close]="false">Cancelar</button>
    <button class="btn btn-primary text-light mx-2" [disabled]="isDeleting" (click)="confirm()">Sim, excluir</button>
  </div>
</div>
