.rightpos {
  float: right;
}

.greybar {
  margin-left: 4%;
  background: #f1f1f1;
  height: calc(94vh - 60px);
  width: 15%;
  min-width: 200px;
}

.textbar {
  height: 6vh;
  background: rgb(227, 231, 234);
  padding: 1vh;
  padding-left: 4vh;
}

a {
  height: 5vh;
}

input:focus {
  outline: none;
}

#cancell {
  float: right;
  margin-right: 2vw;
}

#filter {
  margin-right: 1vw;
}

.icon {
  color: rgb(53, 53, 255);
  margin-top: 0.8vh;
}

@media (max-width: 767px) {
  .textbar {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .textbar {
    width: calc(100% - 70px);
  }
}

@media (min-width: 1170px) {
  .textbar {
    width: calc(100% - 240px);
  }
}



// Filtro
.modalFilter{
  position: absolute;
  margin-left: 30%;
  margin-top: 15vh;
  border: solid 2px rgb(189, 189, 189);
  padding: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  border-radius: 10px;
  width: 40vw;
}

.buttonField button {
  width: 100%;
}

.tableField select {
  width: 95%;
}

.inputField input {
  width: 95%;
}
