.disabledStyle {
  border: solid 1px lightgrey;
  padding: 1px 8px;
  border-radius: 25px;
}

.selected {
  background-color: white;
  font-weight: bold;
  color: #00c853;
}

.chipDefault {
  border: none;
  background-color: white;
  color: black;
}

span{
  font-size: 13px;
}

i {
  font-size: 18px;
}

i, .chipDefault, .selected {
  cursor: pointer;
}
