<span class="ml-2">{{ name }}:</span>

<div class="disabledStyle">
  <mat-chip-list>
    <i class="fal fa-clipboard mr-4 ml-3" (click)="devolveAll()" [matTooltip]="info().copyAll" matTooltipShowDelay="300" matTooltipHideDelay="500"></i>
    <span *ngIf="name == 'Valor'" class="m-1">R$</span>
    <div *ngFor="let prop of props; let i = index">
      <mat-chip (click)="select(i, name)" [id]="i + name" [ngClass]="'chip' + name" class="chipDefault" [matTooltip]="info(prop).copy" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ prop }}</mat-chip>
      <span *ngIf="name == 'Data' && i != 2" class="m-1">/</span>
    </div>
  </mat-chip-list>
</div>
