.disabledStyle {
  border: solid 1px lightgrey;
  padding: 1px 5px;
  border-radius: 25px;
}

.selected {
  border: solid 3px #4caf50;
  background-color: white;
  font-weight: bold;
  color: #00c853;
}

.chipDefault {
  border: none;
  background-color: white;
  color: black;
}

span{
  font-size: 13px;
}

i {
  font-size: 20px;
}
