input{
    border-radius: 3px;
    width: 100%;
    border: solid 1px rgb(199, 199, 199);
    padding: 2px 5px;
    font-family: sans-serif;
}

.input{
    width: 100%;
}

span{
    font-size: 2vh;
}
