<div class="main-wrapper pt-3 text-center">

  <div class="pl-4 pr-4" *ngIf="!hasBusiness">
    <app-info [description]="info.text1"></app-info>
  </div>

  <app-tfilter (empresa)="onFilter($event)"></app-tfilter>

  <div *ngIf="hasBusiness" class="pl-4 pr-4">
    <app-info [description]="info.text2"></app-info>
    <br>
  </div>

  <div class="pr-2 pl-2" *ngIf="hasBusiness">
    <div class="card ml-4 mr-4">
      <app-tab (clicked)="onClick($event)" [complete]="false"></app-tab>
    </div>
    <br>
  </div>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="rows.length && isSelected">

    <div class="divFilter mb-4">
      <app-rule-filter (search)="onSearch($event)"></app-rule-filter>
    </div>

    <div *ngFor="let rule of rows; let i = index" cdkDrag>
      <div style="margin-bottom: 20px;">
      <!-- <div style="margin-bottom: 20px;" *ngIf="rule.regras.length"> -->
        <app-ruleico (clone)="onClone($event)" [rules]="rule" [index]="i" (downAll)="downAll($event)" (upAll)="upAll($event)" (delete)="onDelete($event)" (update)="onUpdate($event)"></app-ruleico>
      </div>
    </div>

  </div>

  <button class="btn btn-dark mb-3 mt-4" *ngIf="hasNext && isSelected" (click)="nextPage()">Carregar mais</button>

  <div *ngIf="!rows || rows.length < 2">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

</div>
