<div class="main-wrapper pt-3">

  <div class="pl-4 pr-4" *ngIf="!hasBusiness">
    <app-info [description]="info.text1"></app-info>
  </div>

  <app-tfilter (empresa)="hasBusiness = true"></app-tfilter>

  <div *ngIf="hasBusiness" class="pl-4 pr-4">
    <app-info [description]="info.text2"></app-info>
    <br>
  </div>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="rows.length">

    <div *ngFor="let rule of rows;" style="margin-bottom: 35px;" cdkDrag>
      <app-ruleico [rules]="rule"></app-ruleico>
    </div>

  </div>

</div>
