<!--
<div class="main-wrapper">

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="rows.length > 0">
    <div class="example-box row w-100 m-0">
      <div class="col-2">
        <h4>Opções</h4>
      </div>
      <div class="col-8">
        <h4>Regra</h4>
      </div>
      <div class="col">
        <h4>Conta</h4>
      </div>
    </div>


    <div class="example-box" *ngFor="let rule of rows; let id = index" cdkDrag>

      <app-ruleico [rules]="rule"></app-ruleico>

    </div>


  </div> -->
<div class="main-wrapper">

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="rows.length">

    <div *ngFor="let rule of rows;" style="margin-bottom: 35px;" cdkDrag>
      <app-ruleico [rules]="rule"></app-ruleico>
    </div>

  </div>

</div>
