form {
  padding: 2vw;
  padding-bottom: 0;
}

input[type="button"] {
  margin-top: 3vh;
  font-size: 80%;
}

@media (max-width: 1100px) {
  input[type="button"] {
    width: 100%;
  }
}

@media (min-width: 1100px) {
  input[type="button"] {
    width: 7vw;
  }
}

.form-group input {
  border-radius: 3px;
  width: 100%;
  border: solid 3px rgb(122, 122, 122);
}

.form-group strong {
  font-size: 2vh;
  font-weight: bold;
}

@media (max-width: 767px) {
  form {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  form {
    margin-left: 70px;
  }
}

@media (min-width: 1170px) {
  form {
    margin-left: 240px;
  }
}
