form {
  padding: 0 2%;
}

.grayContainer {
  background-color: rgb(245, 245, 245);
}

input[type="button"] {
  margin-top: 3vh;
  font-size: 80%;
}

@media (max-width: 1100px) {
  input[type="button"] {
    width: 100%;
  }
}

@media (min-width: 1100px) {
  input[type="button"] {
    width: 7vw;
  }
}

.form-group input {
  padding: 0 10px;
  border-radius: 3px;
  width: 100%;
  border: solid 1px #5c5c5c;
  font-family: sans-serif;
  // box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}


.form-group strong {
  font-size: 13px;
  font-weight: bold;
}

.account-field {
  color: #5c5c5c;
}

::ng-deep .mat-tooltip {
  font-size: 13px;
  padding: 5px;
}

span {
  font-weight: bold;
  cursor: pointer;
}

.defaultSpan {
  font-weight: normal;
  cursor: context-menu;
}
