<div class="mt-2 mb-4 pr-4 pl-4" *ngIf="tabIsClicked">
  <app-info [description]="info.info"></app-info>
</div>

<form autocomplete="off">
  <div class="card">
    <div class="row w-100 m-0">
      <button [ngClass]="tabsButtonClass[0]" (click)="pag()">Pagamentos</button>
      <button [ngClass]="tabsButtonClass[1]" (click)="expag()">Extrato Débitos</button>
      <button [ngClass]="tabsButtonClass[2]" (click)="rec()">Recebimentos</button>
      <button [ngClass]="tabsButtonClass[3]" (click)="exrec()">Extrato Créditos</button>
    </div>

    <div class="p-4" *ngIf="tabIsClicked">
      <div class="row m-0 mb-4 d-inline-block">
        <div class="col" *ngIf="impact > 0">
          <span class="defaultSpan">Impacto: </span>
          <span
            (click)="openGrid()"
            class="text-danger"
            [matTooltip]="info.affecteds"
            matTooltipShowDelay="300"
            matTooltipHideDelay="500"
            >{{ impact }}</span
          >
          <span class="font-weight-normal" (click)="openGrid()"> lançamentos.</span
          >
        </div>
        <div class="col" *ngIf="remaining > 0">
          <div class="float-right">
            <span class="defaultSpan">Lançamentos restantes: </span>
            <span class="defaultSpan">{{ remaining }}</span>
          </div>
        </div>
      </div>
      <app-card *ngIf="records[0]">
        <app-card>
          <app-card main="true" [destroy]="destroy">

            <div
              class="row m-0 mb-2"
              *ngIf="records[0].descricao || records[0].portador"
            >
              <app-chips
                [reset]="destroy"
                name="Fornecedor"
                [property]="records[0].descricao"
                class="col"
                *ngIf="records[0].descricao"
                (selectedInfos)="onDevolve($event)"
              ></app-chips>
              <app-chips
                [reset]="destroy"
                name="Banco"
                [property]="records[0].portador"
                class="col"
                *ngIf="records[0].portador"
                (selectedInfos)="onDevolve($event)"
              ></app-chips>
            </div>

            <div
              class="row m-0 mb-2"
              *ngIf="
                records[0].dataMovimento ||
                records[0].valorOriginal ||
                records[0].documento
              "
            >
              <app-chips
                [reset]="destroy"
                name="Data"
                [property]="records[0].dataMovimento"
                class="col"
                *ngIf="records[0].dataMovimento"
                (selectedInfos)="onDevolve($event)"
              ></app-chips>
              <app-chips
                [reset]="destroy"
                name="Valor"
                [property]="records[0].valorOriginal"
                class="col"
                *ngIf="records[0].valorOriginal"
                (selectedInfos)="onDevolve($event)"
              ></app-chips>
              <app-chips
                [reset]="destroy"
                name="Documento"
                [property]="records[0].documento"
                class="col"
                *ngIf="records[0].documento"
                (selectedInfos)="onDevolve($event)"
              ></app-chips>
            </div>

            <div class="row m-0 mb-2" *ngIf="getComplementos().ok">
              <app-chips
                [reset]="destroy"
                name="Complementos"
                [property]="getComplementos().text"
                class="col"
                (selectedInfos)="onDevolve($event)"
              ></app-chips>
            </div>

            <div
              class="row m-0 mb-2"
              *ngIf="records[0].nomeArquivo || records[0].tipoPlanilha"
            >
              <app-chips
                [reset]="destroy"
                name="Nome do Arquivo"
                [property]="records[0].nomeArquivo"
                class="col"
                *ngIf="records[0].nomeArquivo"
                (selectedInfos)="onDevolve($event)"
              ></app-chips>
              <app-chips
                [reset]="destroy"
                name="Tipo da Planilha"
                [property]="records[0].tipoPlanilha"
                class="col"
                *ngIf="records[0].tipoPlanilha"
                (selectedInfos)="onDevolve($event)"
              ></app-chips>
            </div>
          </app-card>
        </app-card>
      </app-card>

      <div class="row mt-4 ml-4 text-danger">
        <p *ngIf="errorText">{{ errorText }}</p>
        <p *ngIf="errorText2">{{ errorText2 }}</p>
      </div>

      <div
        class="row m-0"
        *ngIf="impact > 0 || remaining > 0"
      >
        <div class="form-group col-5 mt-1">
          <strong
            class="account-field"
            [matTooltip]="info.account"
            matTooltipShowDelay="300"
            matTooltipHideDelay="500"
            >Conta:</strong
          >
          <input
            list="suggestions"
            type="text"
            [(ngModel)]="account"
            name="account"
            [matTooltip]="info.account"
            matTooltipShowDelay="300"
            matTooltipHideDelay="500"
          />
          <datalist id="suggestions">
            <option [value]="suggestions"></option>
          </datalist>
        </div>

        <div class="col-7">
          <div class="row w-100 m-0">
            <input
              *ngIf="account && conditions.verify()"
              type="button"
              class="btn btn-info col mx-2"
              value="Regra"
              (click)="regra()"
              [matTooltip]="info.rule"
              matTooltipShowDelay="300"
              matTooltipHideDelay="500"
            />
            <input
              *ngIf="account"
              type="button"
              class="btn btn-info col mx-2"
              value="Fornecedor"
              (click)="fornecedor()"
              [matTooltip]="info.provider"
              matTooltipShowDelay="300"
              matTooltipHideDelay="500"
            />
            <input
              *ngIf="conditions.verify()"
              type="button"
              class="btn btn-outline-info col mx-2"
              value="Ignorar"
              (click)="ignorar()"
              [matTooltip]="info.ignore"
              matTooltipShowDelay="300"
              matTooltipHideDelay="500"
            />
            <input
              type="button"
              class="btn btn-outline-info col mx-2"
              value="Pular"
              (click)="disable()"
              [matTooltip]="info.skip"
              matTooltipShowDelay="300"
              matTooltipHideDelay="500"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- </form> -->
    <!-- </div> -->
  </div>
</form>
