<div class="main-wrapper pt-3 text-center scrollField" scrollTracker (scrollEnd)="onScroll($event)">

  <div class="pl-4 pr-4" *ngIf="!hasBusiness">
    <app-info [description]="info.text1"></app-info>
  </div>

  <app-tfilter (empresa)="onFilter($event)"></app-tfilter>

  <div *ngIf="hasBusiness" class="pl-4 pr-4">
    <app-info [description]="info.text2"></app-info>
    <br>
  </div>

  <div class="pr-2 pl-2" *ngIf="hasBusiness">
    <div class="card ml-4 mr-4">
      <!-- <app-tab (clicked)="onClick($event)" [complete]="false"></app-tab> -->
      <mat-tab-group (selectedTabChange)="onTab($event)" mat-align-tabs="center">
        <mat-tab label="Pagamentos"></mat-tab>
        <mat-tab label="Recebimentos"></mat-tab>
      </mat-tab-group>
    </div>
    <br>
  </div>

  <div *ngIf="hasBusiness && rows.length" (click)="openConfirmation()" class="crm clickIcon" [matTooltip]="info.crm" matTooltipShowDelay="300" matTooltipHideDelay="500"><i class="fad fa-object-ungroup"></i></div>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="rows.length && isSelected">

    <div *ngFor="let rule of rows; let i = index" cdkDrag>
      <div class="mb10">
        <app-ruleico (clone)="onClone($event)" [rules]="rule" [index]="i" (downAll)="downAll($event)" (upAll)="upAll($event)" (delete)="onDelete($event)" (update)="onUpdate($event)"></app-ruleico>
      </div>
    </div>

  </div>

  <button mat-button class="btn btn-dark mb-3 mt-4" *ngIf="hasNext && isSelected" (click)="nextPage()">Carregar mais</button>
</div>
