<app-options-menu [items]="{ icon: 'fas fa-foward', text: 'Abaporu' }"></app-options-menu>
<layout
  [buttons]="buttons()"
  (buttonClicked)="onButton($event)"
  (scrollHasEnded)="onScroll()"
  [breadcrumbAppend]="append"
  (companySelected)="onFilter($event)"
  [tutorial]="tutorial">

  <div
    class="text-center">
    <div *ngIf="!business">
      <info [description]="info.text1"></info>
    </div>

    <div *ngIf="business">
      <info [description]="info.text2"></info>
      <br />
    </div>

    <div *ngIf="business">
      <div class="card">
        <mat-progress-bar mode="determinate" [value]="percentage" *ngIf="isExporting" [color]="'#000'" class="progress-bar"></mat-progress-bar>
        <mat-tab-group
          (selectedTabChange)="onTab($event)"
          mat-align-tabs="center"
        >
          <mat-tab label="Pagamentos"></mat-tab>
          <mat-tab label="Recebimentos"></mat-tab>
        </mat-tab-group>
      </div>
      <br />
    </div>

    <div
      cdkDropList
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      *ngIf="rows.length && tabIsSelected"
    >
      <div *ngFor="let rule of rows; let i = index" cdkDrag>
        <div class="mb10">
          <app-ruleico
            (clone)="onClone($event)"
            [rules]="rule"
            [index]="i"
            (downAll)="drop({ previousIndex: i, currentIndex: i + 1 })"
            (upAll)="drop({ previousIndex: i, currentIndex: i - 1 })"
            (delete)="onDelete($event)"
            (update)="onUpdate($event)"
          >
            <button class="black" cdkDragHandle *ngIf="smallSize()">
              <i class="far fa-arrows icon-top"></i>
            </button>
          </app-ruleico>
        </div>
      </div>
    </div>

    <button class="btn btn-secondary m-auto mb-3" mat-stroked-button *ngIf="pageInfo?.hasNext" [disabled]="isFetching" (click)="nextPage()">Próxima Página</button>

  </div>

</layout>
