  <app-breadcrumb></app-breadcrumb>
  <div class="mb-3"></div>
  <div class="pt-1">
    <div class="pl-4 pr-4" *ngIf="!business">
      <app-info [description]="info.first"></app-info>
    </div>
    <app-tfilter (empresa)="onDevolve($event)"></app-tfilter>
    <div class="pl-4 pr-4 mb-4" *ngIf="business && !tabIsSelected">
      <app-info [description]="info.second"></app-info>
    </div>
    <app-tdetail
      *ngIf="business"
      [business]="business"
      (tabSelect)="onSelect($event)"
    ></app-tdetail>
  </div>
