<layout [buttons]="[button]" (buttonClicked)="create()" [overwriteBreadcrumb]="true">
  <div breadcrumb>
    <app-breadcrumb></app-breadcrumb>
  </div>

  <div class="w-100 text-center">
    <ott-title>Projetos</ott-title>
  </div>

  <empty-state
    *ngIf="isEmpty"
    firstTitle="Sua contabilidade ainda não possui nenhum projeto :("
    subtitle="Clique no {icon} para criar seu primeiro"
    icon="file-spreadsheet"
    (iconPressed)="create()"
  ></empty-state>

  <app-complex-search-input>

  </app-complex-search-input>

  <async-table
    [origin]="getData"
    [definition]="columnDefinition"
    (emptyState)="isEmpty = true"
    (rowSelected)="onRowSelected($event)"
  ></async-table>

</layout>
