<layout [buttons]="[button]" (buttonClicked)="create()" [overwriteBreadcrumb]="true">
  <div breadcrumb>
    <app-breadcrumb></app-breadcrumb>
  </div>

  <div class="w-100 text-center">
    <ott-title>Projetos</ott-title>
  </div>

  <div class="mt-5 mb-3">
    <default-filter
      [options]="options"
      (filterChanged)="onFilterChanged($event)"
    ></default-filter>
  </div>

  <async-table
    [origin]="getData"
    [definition]="columnDefinition"
    [reload]="reload"
    (rowSelected)="onRowSelected($event)"
  ></async-table>

</layout>
