<div class="cont row m-0 w-100" *ngIf="rules && rules.regras && rules.regras.length">


  <div class="col-2 p-0">
      <button class="red" (click)="close()" [matTooltip]="info.trash" matTooltipShowDelay="300" matTooltipHideDelay="500">
        <i class="far fa-trash-alt"></i>
      </button>
      <button class="gray" (click)="cloning()" [matTooltip]="info.clone" matTooltipShowDelay="300" matTooltipHideDelay="500">
        <i class="far fa-clone"></i>
      </button>
      <button class="purple" (click)="openModal()" [matTooltip]="info.edit" matTooltipShowDelay="300" matTooltipHideDelay="500">
        <i class="far fa-edit"></i>
      </button>
  </div>


  <div class="col-7 p-0 pt-3 pb-3">
    <div *ngFor="let rule of rules.regras" class="text-center">
      <strong>{{ getText(rule).field }}</strong>
      <span>{{ getText(rule).text }}</span>
      <strong>{{ getText(rule).value }}</strong>
    </div>
  </div>


  <div class="col-2 pt-3 text-center">
    <strong class="account" [matTooltip]="rules.contaMovimento" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ account }}</strong>
  </div>


  <div class="col-1 p-0">
    <div class="h-50 w-100"><i class="far fa-chevron-up clickIcon" (click)="up()" [matTooltip]="info.upAll" matTooltipShowDelay="300" matTooltipHideDelay="500"></i></div>
    <div class="h-50 w-100"><i class="far fa-chevron-down clickIcon" (click)="down()" [matTooltip]="info.upDown" matTooltipShowDelay="300" matTooltipHideDelay="500"></i></div>
  </div>



</div>
