<app-layout [buttons]="buttons()" (buttonClicked)="openDialog()">

  <app-tfilter (empresa)="onFilter($event)"></app-tfilter>

    <div *ngIf="company">
      <div class="card">
        <mat-progress-bar mode="determinate" [value]="percentage" *ngIf="isExporting" [color]="'#000'" class="progress-bar"></mat-progress-bar>
        <mat-tab-group
          (selectedTabChange)="onTab($event)"
          mat-align-tabs="center"
        >
          <mat-tab label="Pagamentos"></mat-tab>
          <mat-tab label="Recebimentos"></mat-tab>
        </mat-tab-group>
      </div>
      <br />
    </div>

</app-layout>
