<div class="cont" *ngIf="rules">

  <div class="row w-100 m-0">
    <div class="col-2 m-0 p-0">
      <button class="red" (click)="close()" [matTooltip]="info.trash" matTooltipShowDelay="300" matTooltipHideDelay="500">
        <i class="far fa-trash-alt"></i>
      </button>
      <button class="gray" (click)="openModal(true)" [matTooltip]="info.plus" matTooltipShowDelay="300" matTooltipHideDelay="500">
        <i class="far fa-plus-circle"></i>
      </button>
      <button class="purple" (click)="openModal()" [matTooltip]="info.edit" matTooltipShowDelay="300" matTooltipHideDelay="500">
        <i class="far fa-edit"></i>
      </button>
    </div>
    <div class="col-9">
      <br>
      <div *ngFor="let rule of rules.regras">
        <span>{{ getText(rule) }}</span>
        <br>
      </div>
      <hr>
      <p><span>Conta: </span><strong>{{ rules.contaMovimento }}</strong></p>
    </div>
    <div class="col m-0 p-0 mb-2 mt-2">
      <div class="h-50 text-center"><i class="far fa-chevron-up clickIcon" (click)="up()" [matTooltip]="info.upAll" matTooltipShowDelay="300" matTooltipHideDelay="500"></i></div>
      <div class="h-50 text-center"><i class="far fa-chevron-down clickIcon" (click)="down()" [matTooltip]="info.upDown" matTooltipShowDelay="300" matTooltipHideDelay="500"></i></div>
    </div>
  </div>


</div>

