:root {
  --primary-color: #004ecb;
  --secondary-color: #ff8a00;
  --primary-accent: #4d8df5;
  --dark-legacy: #373435;
}

.mat-radio-outer-circle {
.mat-radio-checked & {
      border-color: var(--primary-color) !important;
    }
}

.mat-radio-inner-circle {
    background-color: var(--primary-color) !important;
}

.mat-radio-ripple .mat-ripple-element {
    background-color: var(--primary-color);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: lightgray;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: var(--primary-color);
}

.mat-progress-bar-fill::after {
  background-color: var(--primary-color);
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--primary-accent);
}

.mat-step-header {
  .mat-step-icon-selected  {
    background-color: var(--primary-color);
  }
  .mat-step-icon-state-edit,
  .mat-step-icon-state-done {
    background-color: var(--primary-accent);
  }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: var(--primary-color) !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-pseudo-checkbox-checked {
    background-color: var(--primary-color);
}
