<div class="filterBox mt-4 mb-4" id="company-filter">
  <form>
    <input (keyup.enter)="confirm(business[0])" type="text" (input)="onInput($event.target)" #company [matAutocomplete]="auto" autocomplete="off" placeholder="Filtro" [matTooltip]="info">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
      <mat-option *ngFor="let company of business" [value]="company" [matTooltip]="(getErp(company.codigoERP) + company.razaoSocial).trim() + ': ' + company.cnpj">
        {{ getErp(company.codigoERP) + company.razaoSocial }}
      </mat-option>
    </mat-autocomplete>

    <button (click)="clear()">
      <icon type="far" color="danger" name="times"></icon>
    </button>
  </form>
</div>
