<div class="mt-2 mb-4" *ngIf="tabIsClicked">
  <app-info [description]="info.info"></app-info>
</div>

<form autocomplete="off">
  <div class="card">
    <mat-progress-bar [value]="percentage" class="progress-bar"  [matTooltip]="percentage + '%'" matTooltipShowDelay="300" matTooltipHideDelay="500"></mat-progress-bar>
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTab($event, false)">
      <mat-tab label="Pagamentos"></mat-tab>
      <mat-tab label="Extrato Débitos"></mat-tab>
      <mat-tab label="Recebimentos"></mat-tab>
      <mat-tab label="Extrato Créditos"></mat-tab>
    </mat-tab-group>


    <div class="p-5 pt-0">
      <div class="row m-0 w-100">
        <div class="col">
          <span class="defaultSpan">Total de lançamentos: {{ total }}</span>
        </div>
      </div>
      <div class="row m-0 w-100 mb-4">
        <div class="col" *ngIf="impact > 0">
          <span class="defaultSpan mt-3">Impacto: </span>
          <span
            (click)="openGrid()"
            class="text-danger"
            [matTooltip]="info.affecteds"
            matTooltipShowDelay="300"
            matTooltipHideDelay="500"
            >{{ impact }}</span
          >
          <span class="font-weight-normal" (click)="openGrid()"> lançamentos.</span>
          <i class="ml-2 fad fa-question-circle" [matTooltip]="info.affectedsOrientation" matTooltipShowDelay="300" matTooltipHideDelay="500"></i>
        </div>

      </div>
      <app-card *ngIf="records && (records[0] || isFetching)">
        <app-card>
          <app-card main="true" [destroy]="destroy">

            <div class="row" *ngIf="isFetching"><br><br><br><br><br><br><br><br></div>

            <div
              class="row m-0 mb-2"
              *ngIf="records[0]?.descricao || records[0]?.portador"
            >
            <app-chips-group
              *ngIf="records[0]?.descricao"
              [config]="descricao"
              (clicked)="onDevolve($event)"
              class="col"
            ></app-chips-group>
              <app-chips-group
                *ngIf="records[0]?.portador"
                [config]="portador"
                (clicked)="onDevolve($event)"
                class="col"
              ></app-chips-group>
            </div>

            <div
              class="row m-0 mb-2"
              *ngIf="
                records[0]?.dataMovimento ||
                records[0]?.valorOriginal ||
                records[0]?.documento"
            >
              <app-chips-group
                *ngIf="records[0]?.dataMovimento"
                [config]="dataMovimento"
                (clicked)="onDevolve($event)"
                class="col"
              ></app-chips-group>
              <app-chips-group
                *ngIf="records[0]?.valorOriginal"
                [config]="valorOriginal"
                (clicked)="onDevolve($event)"
                class="col"
              ></app-chips-group>
              <app-chips-group
                *ngIf="records[0]?.documento"
                [config]="documento"
                (clicked)="onDevolve($event)"
                class="col"
              ></app-chips-group>
            </div>

            <div class="row m-0 mb-2" *ngIf="hasComplements && tipo == 'MOVIMENTO'">
              <app-chips-group
                *ngIf="hasComplements"
                [config]="complementos"
                (clicked)="onDevolve($event)"
                class="col"
              ></app-chips-group>
            </div>

            <div class="row m-0 mb-2" *ngIf="records[0]?.complemento02 && records[0]?.arquivo.labelComplemento02 && records[0]?.complemento02.length > 1 && tipo == 'EXTRATO'">
              <app-chips-group
                [config]="complemento02"
                (clicked)="onDevolve($event)"
                class="col"
              ></app-chips-group>
            </div>

          </app-card>
        </app-card>
      </app-card>

      <div class="row mt-4 ml-3 text-danger">
        <p *ngIf="errorText">{{ errorText }}</p>
        <p *ngIf="errorText2">{{ errorText2 }}</p>
      </div>

      <div
        class="row m-0"
        *ngIf="records && records.length"
      >
        <div class="form-group col-md-5 col-lg-5 col-xl-5 mt-1">
          <strong
            class="account-field"
            [matTooltip]="info.account"
            matTooltipShowDelay="300"
            matTooltipHideDelay="500"
            >Conta:</strong
          >
          <input
            list="suggestions"
            type="text"
            [(ngModel)]="account"
            name="account"
            [matTooltip]="info.account"
            matTooltipShowDelay="300"
            matTooltipHideDelay="500"
          />
          <datalist id="suggestions">
            <option *ngFor="let s of suggestions" [value]="s"></option>
          </datalist>
        </div>

        <div class="col-md-7 col-lg-7 col-xl-7">
          <div class="row w-100 m-0">
            <input
              type="button"
              class="btn btn-primary col mx-2"
              value="Regra"
              (click)="regra()"
              [matTooltip]="info.rule"
              matTooltipShowDelay="300"
              matTooltipHideDelay="500"
            />
            <input
              type="button"
              class="btn btn-primary col mx-2"
              [value]="buttonLabel"
              (click)="fornecedor()"
              [matTooltip]="info.provider"
              matTooltipShowDelay="300"
              matTooltipHideDelay="500"
            />
            <input
              *ngIf="conditions.verify()"
              type="button"
              class="btn btn-outline-primary col mx-2"
              value="Ignorar"
              (click)="ignorar()"
              [matTooltip]="info.ignore"
              matTooltipShowDelay="300"
              matTooltipHideDelay="500"
            />
            <input
              type="button"
              class="btn btn-outline-primary col mx-2"
              value="Pular"
              (click)="skip()"
              [matTooltip]="info.skip"
              matTooltipShowDelay="300"
              matTooltipHideDelay="500"
            />
            <input
              *ngIf="currentUser.type === 0"
              type="button"
              class="btn btn-outline-danger col mx-2"
              value="Excluir"
              (click)="delete()"
              matTooltip="Remover todos os lançamentos do arquivo atual"
              matTooltipShowDelay="300"
              matTooltipHideDelay="500"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>
</form>
