input[type="button"], input[type="submit"] {
  margin-top: 3vh;
  font-size: 80%;
}

@media (max-width: 1100px) {
  input[type="button"], input[type="submit"] {
    width: 100%;
  }
}

@media (min-width: 1100px) {
  input[type="button"], input[type="submit"] {
    width: 7vw;
  }
}

.form-group input {
  padding: 0 10px;
  border-radius: 3px;
  width: 100%;
  border: solid 1px #5c5c5c;
  font-family: sans-serif;
}


.form-group strong {
  font-size: 13px;
  font-weight: bold;
}

.account-field {
  color: #5c5c5c;
}

span {
  font-weight: bold;
  cursor: pointer;
}

.defaultSpan {
  font-weight: normal;
  cursor: context-menu;
}

.cursor-auto {
  cursor: auto;
}

.percentage {
  margin: 7%;
  margin-top: 50%;
}

.progress-bar {
  height: 13px;
}
