<form autocomplete="off">
  <div class="card">


    <mat-progress-bar [value]="percentage" class="progress-bar"  [matTooltip]="percentage + '%'"></mat-progress-bar>
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTab($event, false)">
      <mat-tab label="Pagamentos"></mat-tab>
      <mat-tab label="Extrato Débitos"></mat-tab>
      <mat-tab label="Recebimentos"></mat-tab>
      <mat-tab label="Extrato Créditos"></mat-tab>
    </mat-tab-group>

    <div class="p-5 pt-0">
      <div class="row m-0 mt-3 w-100">
        <text class="col">Total de lançamentos: {{ total }}</text>
        <div class="col text-right">
          <mat-slide-toggle [checked]="true" (change)="showProposedRules = !showProposedRules; clean()">Sugerir Regras</mat-slide-toggle>
          <i class="ml-3 far fa-cog cursor-pointer" [matMenuTriggerFor]="menu"></i>
          <mat-menu #menu="matMenu">
            <mat-radio-group [value]="useAccountingIntelligenceInProposedRules" (change)="useAccountingIntelligenceInProposedRules = $event.value">
              <div id="filter-type-2" mat-menu-item>
                <mat-radio-button [value]="false">Inteligência da contabilidade</mat-radio-button>
              </div>
              <div id="filter-type-1" mat-menu-item>
                <mat-radio-button [value]="true">Inteligência da Ottimizza</mat-radio-button>
              </div>
            </mat-radio-group>
          </mat-menu>
        </div>
      </div>
      <div class="row m-0 w-100 mb-4">
        <div class="col" *ngIf="impact > 0">
          <text class="mt-3">Impacto: </text>
          <text class="ml-1 cursor-pointer"(click)="openGrid()" color="danger" [matTooltip]="info.affecteds" bold="true" >{{ impact }}</text>
          <text class="ml-1"(click)="openGrid()"> lançamentos.</text>
          <icon class="ml-2" [matTooltip]="info.affectedsOrientation" name="question-circle"></icon>
        </div>





      </div>
      <card *ngIf="entry || isFetching" [main]="false">
        <card [main]="false">
          <card class="main-card">

            <div *ngIf="isFetching && !entry"><br><br><br><br><br><br><br><br></div>

            <div
              class="row m-0 mb-2"
              *ngIf="entry?.descricao || entry?.portador"
            >
              <app-chips-group
                *ngIf="entry?.descricao && rebuild !== 1"
                [config]="descricao()"
                (clicked)="onDevolve($event)"
                id="detail-descricao-input"
                class="col-md"
              ></app-chips-group>
              <app-chips-group
                *ngIf="entry?.portador && rebuild !== 2"
                [config]="portador()"
                (clicked)="onDevolve($event)"
                class="col-md"
              ></app-chips-group>
            </div>

            <div
              class="row m-0 mb-2"
              *ngIf="
                (entry?.dataMovimento ||
                entry?.valorOriginal ||
                entry?.documento) "
            >
              <app-chips-group
                *ngIf="entry?.dataMovimento && rebuild !== 3"
                [config]="dataMovimento()"
                (clicked)="onDevolve($event)"
                class="col-md"
              ></app-chips-group>
              <app-chips-group
                *ngIf="entry?.valorOriginal && rebuild !== 4"
                [config]="valorOriginal()"
                (clicked)="onDevolve($event)"
                class="col-md"
              ></app-chips-group>
              <app-chips-group
                *ngIf="entry?.documento && rebuild !== 5"
                [config]="documento()"
                (clicked)="onDevolve($event)"
                class="col-md"
              ></app-chips-group>
            </div>

            <div class="row m-0 mb-2" *ngIf="hasComplements && tipo == 'MOVIMENTO' && rebuild !== 6">
              <app-chips-group
                *ngIf="hasComplements"
                [config]="complementos()"
                (clicked)="onDevolve($event)"
                class="col-md"
              ></app-chips-group>
            </div>

            <div class="row m-0 mb-2" *ngIf="entry?.complemento02 && entry?.arquivo.labelComplemento02 && entry?.complemento02.length > 1 && tipo == 'EXTRATO' && rebuild !== 7">
              <app-chips-group
                [config]="complemento02()"
                (clicked)="onDevolve($event)"
                class="col-md"
              ></app-chips-group>
            </div>







          </card>
        </card>
      </card>

      <div class="row mt-4 ml-3 d-block">
        <comment type="danger" *ngIf="errorText">{{ errorText }}</comment>
        <comment type="danger" *ngIf="errorText2">{{ errorText2 }}</comment>
      </div>

      <div
        class="row m-0"
        *ngIf="entry"
      >
        <div class="form-group col-md-3 mt-1">
          <ott-input [control]="account" [matTooltip]="info.account" [label]="getLabelContaMovimento()" (submit)="regra()"></ott-input>
        </div>

        <div class="col-md-9">
          <div class="row w-100 action-set">
            <input
              type="button"
              class="btn btn-primary col mx-2"
              (click)="regra()"
              [value]="getRuleButtonDescription()"
              [matTooltip]="info.rule"
              id="button-rule"
            />
            <input
              [disabled]="conditions.hasOtherFieldsThan('descricao')"
              type="button"
              class="btn btn-primary col mx-2"
              id="button-provider"
              [value]="buttonLabel"
              (click)="fornecedor()"
              [matTooltip]="info.provider"
            />
            <input
              *ngIf="conditions.verify()"
              type="button"
              class="btn btn-outline-primary col mx-2"
              value="Ignorar"
              (click)="ignorar()"
              [matTooltip]="info.ignore"
              id="ignore-button"
            />
            <div class="button-area col mx-2">
              <div class="row w-100 m-0">

                <button [disabled]="!pageInfo.hasPrevious" class="btn btn-outline-info col" (click)="navigate('previous')" matTooltip="Lançamento anterior">
                  <i class="fad fa-chevron-double-left"></i>
                </button>
                <button [disabled]="!pageInfo.hasNext" class="btn btn-outline-info col" (click)="navigate('next')" matTooltip="Próximo lançamento">
                  <i class="fad fa-chevron-double-right"></i>
                </button>

              </div>
            </div>
            <input
              *ngIf="currentUser.type === 0"
              type="button"
              class="btn btn-outline-danger col mx-2"
              value="Excluir"
              (click)="delete()"
              matTooltip="Remover todos os lançamentos do arquivo atual"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>
</form>
