<span class="ml-2">{{ name }}:</span>

<div class="disabledStyle">
  <mat-chip-list *ngIf="name !== 'Complementos'; else compsfield">

    <i *ngIf="isDefault(); else whitespace" class="fal fa-clipboard mr-4 ml-3" (click)="devolveAll()" [matTooltip]="info().copyAll" matTooltipShowDelay="300" matTooltipHideDelay="500"></i>
    <!-- O template #whitespace serve apenas para dispor o espaçamento de forma uniforme, não possui nenhuma função estrutural -->
    <ng-template #whitespace>
      <div class="m-2"></div>
    </ng-template>

    <span *ngIf="name === 'Valor'" class="m-1">R$</span>

    <div *ngFor="let prop of props; let id = index">
      <mat-chip *ngIf="isDefault(); else nodatevalue" (click)="select(id, name)" [ngClass]="'chip' + name" [id]="id + name" class="chipDefault" [matTooltip]="info(prop).copy" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ prop }}</mat-chip>
      <ng-template #nodatevalue>
        <mat-chip class="chipDefault">{{ prop }}</mat-chip>
      </ng-template>
      <!-- O span abaixo adiciona uma barra entre o dia e o mês e entre o mês e o ano -->
      <span *ngIf="name == 'Data' && id != 2" class="m-1">/</span>
    </div>

  </mat-chip-list>




  <ng-template #compsfield>
    <div class="ml-2">
    <!-- <mat-chip-list>


      <div *ngIf="comps.c1 && comps.c1.length && comps.l1">
        <span *ngIf="comps.l1" class="bold">{{ comps.l1 }}:</span>
        <mat-chip *ngFor="let comp of comps.c1" (click)="selectComp(comp, 'c1')" [id]="comp + ' ' + 'c1'" [ngClass]="'chip' + comps.l1" class="chipDefault" [matTooltip]="info(comp, comps.l1).comps" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ comp }}</mat-chip >
        <br>
      </div>

      <div *ngIf="comps.c2 && comps.c2.length && comps.l2">
        <span *ngIf="comps.l2" class="bold">{{ comps.l2 }}:</span>
        <mat-chip *ngFor="let comp of comps.c2" (click)="selectComp(comp, 'c2')" [id]="comp + ' ' + 'c2'" [ngClass]="'chip' + comps.l2" class="chipDefault" [matTooltip]="info(comp, comps.l2).comps" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ comp }}</mat-chip >
        <br>
      </div>

      <div *ngIf="comps.c3 && comps.c3.length && comps.l3">
        <span *ngIf="comps.l3" class="bold">{{ comps.l3 }}:</span>
        <mat-chip *ngFor="let comp of comps.c3" (click)="selectComp(comp, 'c3')" [id]="comp + ' ' + 'c3'" [ngClass]="'chip' + comps.l3" class="chipDefault" [matTooltip]="info(comp, comps.l3).comps" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ comp }}</mat-chip >
        <br>
      </div>

      <div *ngIf="comps.c4 && comps.c4.length && comps.l4">
        <span *ngIf="comps.l4" class="bold">{{ comps.l4 }}:</span>
        <mat-chip *ngFor="let comp of comps.c4" (click)="selectComp(comp, 'c4')" [id]="comp + ' ' + 'c4'" [ngClass]="'chip' + comps.l4" class="chipDefault" [matTooltip]="info(comp, comps.l4).comps" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ comp }}</mat-chip >
        <br>
      </div>

      <div *ngIf="comps.c5 && comps.c5.length && comps.l5">
        <span *ngIf="comps.l5" class="bold">{{ comps.l5 }}:</span>
        <mat-chip *ngFor="let comp of comps.c5" (click)="selectComp(comp, 'c5')" [id]="comp + ' ' + 'c5'" [ngClass]="'chip' + comps.l5" class="chipDefault" [matTooltip]="info(comp, comps.l5).comps" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ comp }}</mat-chip >
        <br>
      </div>

      </mat-chip-list> -->

      <mat-chip-list *ngIf="comps.c1 && comps.c1.length && comps.l1">
        <i class="fal fa-clipboard mr-4 ml-3" (click)="selectComp1()" [matTooltip]="info().copyAll" matTooltipShowDelay="300" matTooltipHideDelay="500"></i>
        <span *ngIf="comps.l1">{{ comps.l1 }}:</span>
        <mat-chip *ngFor="let comp of comps.c1" (click)="selectComp(comp, 'c1')" [id]="comp + ' ' + 'c1'" [ngClass]="'chip' + comps.l1" class="chipDefault" [matTooltip]="info(comp, comps.l1).comps" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ comp }}</mat-chip >
      </mat-chip-list>

      <mat-chip-list *ngIf="comps.c2 && comps.c2.length && comps.l2">
        <i class="fal fa-clipboard mr-4 ml-3" (click)="devolveAllComps()" [matTooltip]="info().copyAll" matTooltipShowDelay="300" matTooltipHideDelay="500"></i>
        <span *ngIf="comps.l2">{{ comps.l2 }}:</span>
        <mat-chip *ngFor="let comp of comps.c2" (click)="selectComp(comp, 'c2')" [id]="comp + ' ' + 'c2'" [ngClass]="'chip' + comps.l2" class="chipDefault" [matTooltip]="info(comp, comps.l2).comps" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ comp }}</mat-chip >
      </mat-chip-list>

      <mat-chip-list *ngIf="comps.c3 && comps.c3.length && comps.l3">
        <i class="fal fa-clipboard mr-4 ml-3" (click)="devolveAllComps()" [matTooltip]="info().copyAll" matTooltipShowDelay="300" matTooltipHideDelay="500"></i>
        <span *ngIf="comps.l3">{{ comps.l3 }}:</span>
        <mat-chip *ngFor="let comp of comps.c3" (click)="selectComp(comp, 'c3')" [id]="comp + ' ' + 'c3'" [ngClass]="'chip' + comps.l3" class="chipDefault" [matTooltip]="info(comp, comps.l3).comps" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ comp }}</mat-chip >
      </mat-chip-list>

      <mat-chip-list *ngIf="comps.c4 && comps.c4.length && comps.l4">
       <i class="fal fa-clipboard mr-4 ml-3" (click)="devolveAllComps()" [matTooltip]="info().copyAll" matTooltipShowDelay="300" matTooltipHideDelay="500"></i>
        <span *ngIf="comps.l4">{{ comps.l4 }}:</span>
        <mat-chip *ngFor="let comp of comps.c4" (click)="selectComp(comp, 'c4')" [id]="comp + ' ' + 'c4'" [ngClass]="'chip' + comps.l4" class="chipDefault" [matTooltip]="info(comp, comps.l4).comps" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ comp }}</mat-chip >
      </mat-chip-list>

      <mat-chip-list *ngIf="comps.c5 && comps.c5.length && comps.l5">
        <i class="fal fa-clipboard mr-4 ml-3" (click)="devolveAllComps()" [matTooltip]="info().copyAll" matTooltipShowDelay="300" matTooltipHideDelay="500"></i>
        <span *ngIf="comps.l5">{{ comps.l5 }}:</span>
        <mat-chip *ngFor="let comp of comps.c5" (click)="selectComp(comp, 'c5')" [id]="comp + ' ' + 'c5'" [ngClass]="'chip' + comps.l5" class="chipDefault" [matTooltip]="info(comp, comps.l5).comps" matTooltipShowDelay="300" matTooltipHideDelay="500">{{ comp }}</mat-chip >
      </mat-chip-list>

      </div>

    </ng-template>

  </div>
