<div mat-dialog-title>
  <app-hrow span="Código do Histórico" col="3">
  </app-hrow>
</div>
<div mat-dialog-content>


  <form>

    <app-hrow *ngFor="let f of fields; let id = index" [span]="f.span" (write)="onKeyup($event, id)">
      <app-historic-field *ngIf="f.name" [name]="f.name" (selectOne)="onChange($event, id)"></app-historic-field>
    </app-hrow>

  </form>
  <div class="row m-4" *ngIf="params && params.length > 0">
    <p class="mr-4">Resultado:</p>
    <p class="text-warning font-weight-bold">{{ params }}</p>
  </div>

</div>
<div mat-dialog-actions>
  <button [mat-dialog-close]="data.regra" tabindex="-1" class="btn btn-outline-info mr-3">Confirmar</button>
  <button (click)="onNoClick()" tabindex="-1" class="btn btn-outline-danger mr-4">Ignorar</button>
</div>
