<div mat-dialog-title>
  <!-- <h3>Histórico do Lançamento</h3> -->
  <app-hrow span="Código do Histórico" col="3">
    <!-- <h3>Histórico do Lançamento</h3> -->
  </app-hrow>
</div>
<div mat-dialog-content>


  <form>

    <app-hrow *ngFor="let f of fields" [span]="f.span">
      <app-historic-field [name]="f.name"></app-historic-field>
    </app-hrow>

  </form>

</div>
<div mat-dialog-actions>
  <button [mat-dialog-close]="data.regra" tabindex="-1" class="btn btn-outline-info mr-3">Confirmar</button>
  <button (click)="onNoClick()" tabindex="-1" class="btn btn-outline-danger mr-4">Ignorar</button>
</div>
