<nav aria-label="breadcrumb">
  <div class="content m-0 w-100 mt-0 mb-0">
    <div class="container p-0">

      <ol class="bc d-flex row w-100 m-0">

        <li *ngFor="let breadcrumb of breadcrumbs" class="p-4 mt-1 col-3 text-right d-none d-md-block">
          <a [routerLink]="[breadcrumb.url, breadcrumb.params]">
            <span class="d-md-inline-block">
              {{ breadcrumb.label }} /
            </span>
          </a>
        </li>
<!--
        <li class="col-md-6 text-center">
          <company-filter (empresa)="companySelected.emit($event)"></company-filter>
        </li> -->

        <li *ngIf="append" class="p-4 mt-1 col-3 text-left d-none d-md-block">
          <a [routerLink]="append?.url">
            <span class="d-md-inline-block">
              / {{ append.label }}
            </span>
          </a>
        </li>

      </ol>


    </div>
  </div>
</nav>
