.info-container {
  text-align: justify;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  transition: 300ms;
  background-color: rgb(255, 219, 133);
  padding: 15px;

  span {
    color: black;
    font-size: 17px;
  }
}
