.info-container {
  text-align: justify;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  transition: 300ms;
  padding: 15px;

  span {
    font-size: 17px;
  }
}

.important {
  background-color: rgb(255, 219, 133);
  color: black;
}

.regular {
  background-color: #d1ecf1;
  color: #0c5460;
}
