.info-container {
  text-align: justify;
  margin: 0 auto;
  width: 98%;
  padding: 10px;
  border-radius: 3px;
  transition: 300ms;
  background-color: rgba(255, 234, 0, .6);

  &:hover {
    transform: scale(1.03);
    // box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, .1);
  }

  p {
  color: black;
  font-size: 13px;
  }
}
