<h1 mat-dialog-title>
  <i class="fad fa-history text-info"></i>
  &nbsp;&nbsp; Histórico do Lançamento
</h1>
<app-hrow span="Código do Histórico" col="4" (write)="historicObj.id = $event"></app-hrow>
<small class="text-danger">Caso sua contabilidade não utilize Código do Histórico, desconsidere esse campo</small>
<br><br>
<div mat-dialog-content class="border-top border-bottom p-3 text-center">


  <form>

    <app-hrow *ngFor="let f of fields; let id = index" [span]="f.span" (write)="onKeyup($event, id)">
      <app-historic-field *ngIf="f.name" [name]="f.name" [lancamento]="lancamento" (selectOne)="onChange($event, id)"></app-historic-field>
    </app-hrow>

  </form>
  <div class="row m-4" *ngIf="params && params.length > 0">
    <p class="mr-4">Histórico Final:</p>
    <p class="font-weight-bold" *ngIf="params && params.length > 0">{{ params }}</p>
  </div>

</div>
<div mat-dialog-actions class="text-center">
    <div class="container-fluid px-0 py-3 justify-content-between">
      <button class="btn btn-light text-danger mx-2" mat-dialog-close>Ignorar</button>
      <button (click)="submit()" class="btn btn-primary text-light mx-2">Confirmar</button>
    </div>
</div>
